<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/base.xml" />

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

<!-- 
  <logger name="org.springframework.data.r2dbc" level="debug"/>
  <logger name="org.springframework.r2dbc" level="debug"/>
  <logger name="net.lecousin.reactive.data.relational" level="debug"/>
  <logger name="net.lecousin.reactive.data.relational.schema" level="debug"/>
-->

</configuration>